* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.logo > img {
  width: 50px;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
nav{
  text-align:left;
  background-color:gray;
  margin-left: 10px;
}
ul{
  list-style: none;
}
.hamburger{
  display: flex;
  justify-content: flex-end;
  color:white
}
.menu {
  display: none;
}
.product{
  border:solid;
  border-width: 1px;
  border-color: gray;
  text-align: center;
  
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Ipads   */
@media(min-width: 768px) and (max-width: 1024px){
  * {
    box-sizing: border-box;
  }
  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
  }
  .logo > img {
    width: 50px;
  }
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  nav{
    text-align:left;
    background-color:gray;
    margin-left: 10px;
  }
  ul{
    list-style: none;
  }
  .hamburger{
    display: flex;
    justify-content: flex-end;
    color:white
  }
  .menu {
    display: none;
  }
  .product{
    border:solid;
    border-width: 1px;
    border-color: gray;
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-radius: 5px;
    border-color: grey;
    
  }
  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  }

  main {
    box-shadow: 5px 5px 5px 2px rgba(219, 219, 219, 0.8);
    padding-bottom: 20px;
  }

  p {
    margin: 10px;
    text-align: left;
  }
}

/* Large Screen   */
@media(min-width: 1025px){
  header {
    display: inline-flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  header img{
    margin-right: 200px;
    margin-left: 200px;
  }

  nav{
    flex-direction:row;
    border: 0;
    margin: 0;
    padding: 0%;
    
  }

  nav .menu{
    display: flex;
    justify-content: flex-end;
  }

  nav .hamburger{
    display: none;
  }

  nav{
    text-align:left;
    background-color:gray;
    margin-left: 10px;
    color: white;
    
  }

  ul{
    list-style: none;
  }
  nav li{
    margin: 15px;
  }

  main {
    display: flex;
    justify-content: space-between;
  }

  .product{
    border-radius: 5px;
    max-width: 22.5%;
    margin: auto;
  }

  .product p{
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
  }

  main{
    box-shadow: 5px 5px 5px 2px rgba(219, 219, 219, 0.8);
    padding-bottom: 20px;
  }

  footer{
    
  }
}